body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button {
    min-width: 5rem;
    padding: 0.5rem;
    border: #ccc .5px solid;
    border-radius: 5px;
    background-color: transparent;
    transition: background-color linear 0.2s;
}

.button:active {
    border: transparent;
    background-color: #ccc;
}

.small {
    height: 45px;
    width: 80px;
}

/* App */

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.circle-item {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px #000 solid;
    align-items: center;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    height: 10vh;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    width: 40vw;
}

.nav-li {
    list-style: none;
    text-decoration: none;
    color: black;
}

.active-nav-li {
    list-style: none;
    text-decoration: none;
    color: white;
}

/* AreaInput */

.area-input {
    min-height: 100px;
    width: 400px;
    margin: 0 auto;
    padding: 10px 40px;
    border: 1px #ccc solid;
}

.area-input-container {
    display: flex;
    flex-direction: column;
}

.area-input-controls {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}

/* Messages */

.messages-container {
    display: flex;
    flex-direction: column;
}

.messages-filter {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    margin: 3rem auto;
}

.messages-filter-input {
    min-width: 15rem;
    border: 0.5px #ccc solid;
    border-radius: 5px;
    padding: 0.5rem;
}

.messages-filter-select {
    border: 0.5px #ccc solid;
    border-radius: 5px;
    width: 5rem;
}

.messages-filter-toggle {
    position: absolute;
    top: 11vh;
    left: 1vw;
    border: 0.5px #ccc solid;
    padding: 2px;
}

/* Post */

.message-item {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 20px auto 0;
    max-width: 37rem;
    overflow: hidden;
    padding: 10px;
    min-height: 22vh;
}

.message-item.comment {
    width: 100%;
    max-width: 24rem;
    background-color: #cccccc;
}

.message-item-area {
    outline: none;
    border: 1px rgba(70,65,140,0.98) solid;
    padding: 15px;
    max-width: 37rem;
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

.message-item-edit {
    min-width: 55%;
    min-height: 15vh;
}

.message-item-text{
    width: 70%;
    border: none;
    margin: 0 auto;
}

.message-item-text:disabled {
    color: black;
}

.message-item-header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-left: 80px;
    margin-bottom: 10px;
}

.message-actions-btns {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    z-index: 9999;
}

.btn {
    border: 1px solid #ccc;
    margin: 0 5px 5px 0;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

/* LOGIN - REGISTER */

.auth-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.auth-input {
    min-width: 15rem;
    border-radius: 5px;
    padding: 10px;
    border: .5px #cccccc solid;
}

.auth-submit {
    background-color: rgba(81, 163, 210, 0.8);
    width: 7rem;
    border: .5px white solid;
    border-radius: 10px;
    padding: 5px;
    margin: 0 auto;
}

.auth-submit:active {
    border: .5px #ccc solid;
    transition: .3s;
}

.auth-navigate {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.auth-notification {
    font-weight: bold;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* PROFILE */

.profile-container {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.profile-section {
    display: flex;
    flex-direction: column;
}

.profile-section.row {
    flex-direction: row;
}

.profile-input {
    width: 100%;
    border: 0.5px #ccc solid;
    border-radius: 5px;
    outline: none;
    margin: 1rem auto;
    padding: 0.5rem;
}

/* CATS */

.cats-container {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}

/* CAT CARD*/

.cat-card-container {
    width: 25vw;
    height: 30vh;
    display: flex;
    flex-direction: column;

}

.cat-card-controls {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.cat-card-img {
    width: 100%;
    height: 100%;
}

/* SINGLE CAT */

.single-cat-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.single-cat-img-container {
    width: 50vw;
    height: 50vh;
    justify-self: center;
}

.single-cat-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.single-cat-description {
    padding-bottom: 10rem;
}
