body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button {
    min-width: 5rem;
    padding: 0.5rem;
    border: #ccc .5px solid;
    border-radius: 5px;
    background-color: transparent;
    transition: background-color linear 0.2s;
}

.button:active {
    border: transparent;
    background-color: #ccc;
}

/* App */

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.circle-item {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px #000 solid;
    align-items: center;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    height: 10vh;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    width: 40vw;
}

.nav-li {
    list-style: none;
    text-decoration: none;
    color: black;
}

.active-nav-li {
    list-style: none;
    text-decoration: none;
    color: white;
}

/* AreaInput */

.area-input {
    min-height: 100px;
    width: 400px;
    margin: 0 auto;
    padding: 10px 40px;
    border: 1px #ccc solid;
}

.area-input-container {
    display: flex;
    flex-direction: column;
}

.area-input-controls {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}

/* Messages */

.messages-container {
    display: flex;
    flex-direction: column;
}

/* Post */

.message-item {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 40px auto 0;
    max-width: 37rem;
    overflow: hidden;
    padding: 15px;
}

.message-item-header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-left: 80px;
    margin-bottom: 10px;
}







